button {
  cursor: pointer;
}

.pricing-card {
  position: relative;
  overflow: hidden;
}

.pricing-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background-color: #ff6b6b;
  z-index: 1;
  transition: height 0.4s ease-in-out;
}

.pricing-card:hover::before {
  height: 100%;
}
